// Custom utilities for this theme

.text-white-75 {
    color: fade-out($white, .25);
}

.logo-img, .resume-icon {
    margin: 5%;
}

.logo-img {
    width: 20%;
}

.resume-icon {
    width: 10%;
}

.p-inline {
    display: inline;
}